/*

Add styles or override variables from the theme here.

*/

$primary: #4e325b !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: #ffa630 !default;
$success: #3772ff !default;
$info: #c0e0de !default;
$warning: #ed6a5a !default;
$danger: #ed6a5a !default;
$white: #fff !default;
$light: #fcf7e9 !default;

$dark: #403f4c !default;
$blue: #72a1e5 !default;
$orange: #ba5a31 !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ccc !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

$code-color: darken($secondary, 20%) !default;

// UI element colors

$border-color: $gray-300 !default;
$td-sidebar-bg-color: rgba($primary, 0.03) !default;
$td-sidebar-border-color: $border-color !default;

$google_font_name: "Open Sans" !default;
$google_font_family: "Open+Sans:300,300i,400,400i,700,700i" !default;
$web-font-path: "https://fonts.googleapis.com/css?family=#{$google_font_family}";

$td-fonts-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

nav.td-navbar {
  background: #4e325b !important;
}

#td-cover-block-0 {
  background-image: url(/bg.svg) !important;
}

.navbar-logo {
}

.navbar-logo img {
  width: 20px;
  vertical-align: baseline;
  margin-right: 4px;
  margin-bottom: -2px;
}

.field-note {
  font-weight: bold;
  font-style: italic;
  color: $gray-600;
}
.annotation {
  color: $warning;
}

.field-name {
  font-family: monospace;
  color: $dark;
  font-size: 1.3em;
}

.field-type {
  color: $blue;
}

.fields {
  padding-left: 15px;
  border-left: 1px solid $dark;
}
.field {
  margin-bottom: 10px;
}
.field-notes {
  margin-bottom: 30px;
}

.definition {
  padding-left: 15px;
  // border-left: 1px solid $dark;
  margin-bottom: 60px;
}

.description {
  margin-bottom: 10px;
  display: block;
}
.optional {
  margin-left: 5px;
  font-size: 0.9em;
}

:target::before {
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
}
