$main-brand: #479bbc !default;
$light-shades: #f0f5f4 !default;
$light-accent: #8ba69c !default;
$dark-accent: #737083 !default;
$dark-shades: #22334d !default;

$primary: $main-brand !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: #ffa630 !default;
$success: #3772ff !default;
$info: #c0e0de !default;
$warning: #ed6a5a !default;
$danger: #ed6a5a !default;
$white: lighten($light-shades, 50%) !default;
$light: $light-shades !default;

$dark: $dark-shades !default;
$blue: #72a1e5 !default;
$orange: #ba5a31 !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ccc !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

$code-color: darken($secondary, 20%) !default;

// UI element colors

$border-color: $gray-300 !default;
$td-sidebar-bg-color: rgba($primary, 0.03) !default;
$td-sidebar-border-color: $border-color !default;

nav.td-navbar {
  background: $dark !important;
}

#td-cover-block-0 {
  background-image: url(/bg.svg) !important;
}

.navbar-logo {
}

.navbar-logo img {
  width: 20px;
  vertical-align: baseline;
  margin-right: 4px;
  margin-bottom: -2px;
}

.field-note {
  font-weight: bold;
  font-style: italic;
  color: $gray-600;
}
.annotation {
  color: $warning;
}

.field-name {
  font-family: monospace;
  color: $dark;
  font-size: 1.3em;
}

.field-type {
  color: $blue;
}

.fields {
  padding-left: 15px;
  border-left: 1px solid $dark;
}
.field {
  margin-bottom: 10px;
}
.field-notes {
  margin-bottom: 30px;
}

.definition {
  padding-left: 15px;
  // border-left: 1px solid $dark;
  margin-bottom: 60px;
}

.description {
  margin-bottom: 10px;
  display: block;
}
.optional {
  margin-left: 5px;
  font-size: 0.9em;
}

:target::before {
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
}
