+++
title = "Vino Documentation"
linkTitle = "Vino"

+++

{{< blocks/cover title="Vino Documentation" height="small" color="grey" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Get started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="dark" %}}
Vino is a composable application platform for building software faster.

Everything connects the same way. Like Lego except instead of plastic studs it's asynchronous streams of data.

Check out our [Getting Started](/docs/getting-started/) guide and see for yourself!
{{% /blocks/lead %}}

{{< blocks/section color="light" >}}
{{% blocks/feature icon="fa-lightbulb" title="Get Started!" %}}
Start building a WebAssembly component **[now](/docs/getting-started/)**.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-clipboard" title="Documentation" url="/docs/getting-started/" %}}
Documentation on Vino and the Vino tool suite.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Github" url="https://github.com/vinodotdev/vino" %}}
Clone this site or Vino proper to build locally or contribute pull requests.
{{% /blocks/feature %}}

{{< /blocks/section >}}

