+++
title = "Vino Documentation"
linkTitle = "Vino"

+++

{{< blocks/lead title="Vino Documentation" height="small" color="white" >}}
<div class="mx-auto">
  <h1 class="display-1 mt-0 mt-md-5 pb-4">Vino Documentation</h1>

	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Get started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{< /blocks/lead >}}


{{< blocks/section color="light" >}}
{{% blocks/feature icon="fa-lightbulb" title="Get Started!" %}}
Head to the **[tutorial](/docs/getting-started/)** to build your first WebAssembly components.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-clipboard" title="Documentation" url="/docs/getting-started/" %}}
Documentation on Vino and the Vino tool suite.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Github" url="https://github.com/vinodotdev/vino" %}}
Clone this site or Vino proper to build locally or contribute pull requests.
{{% /blocks/feature %}}

{{< /blocks/section >}}

